<style>
	.message-content {
		font-size: Arial, Helvetica, sans-serif;
		max-width: 600px;
		font-size: 18px;
		line-height: 21px;
	}
</style>

<div class="message-content">
	<p>Hello, {{name}}</p>
	<p>It seems there was a request to change your account's password.</p>
	<p>If it was you, click the link below to choose a new password for your account:</p>
	<p>
		<a href="{{link}}">Reset my password</a>
	</p>
	<p>If the request not made by you, then discard this email.</p>
	<p>
		Thank you!<br />
		<strong>GoBarber Team</strong>
	</p>
</div>
